<%- include('partials/header') %>

<div id="databaseTools">
<input id="databaseName" type="text" placeholder="database name">
<input id="searchDatabases" type="search" placeholder="search"><br>
<div id="example"></div>
</div>

<script>
function arrayToList(arr) {
  let unorderedList = '<ul>'
  for (let i = 0; i < arr.length; i++) {
    unorderedList += `<li><input onclick="showbuttons(this)" type="button" value="delete"><input onclick="del(this)" type="button" value="&check;" style="display:none;"><input onclick="hidebuttons(this)" type="button" value="&cross;" style="display:none;">${arr[i]}</li>`
  }
  unorderedList += '</ul>'
  return unorderedList
}
function showbuttons(e) {
  e.nextElementSibling.style.display="inline";
  e.nextElementSibling.nextElementSibling.style.display="inline";
  e.style.display="none";
}
function hidebuttons(e) {
  e.previousElementSibling.previousElementSibling.style.display="inline";
  e.previousElementSibling.style.display="none";
  e.style.display="none";
}
function del(e) {
  fetch('/delete-database', {
    method: 'POST',
    headers: {
      "Content-Type": "text/plain;charset=UTF-8"
    },
    body: e.nextSibling.nextSibling.data
  })
  .then(response => response.json())
  .then(data => {
    document.getElementById("example").innerHTML = arrayToList(data)
  })
}
document.getElementById("example").innerHTML = arrayToList(<%- JSON.stringify(Mydata) %>)
document.getElementById('databaseName').addEventListener('keyup', (event) => {
  event.preventDefault()
  const dbName = document.getElementById('databaseName').value
  if (/\S/.test(dbName) && event.key === 'Enter') {
    fetch('/create-database', {
      method: 'POST',
      headers: {
        "Content-Type": "text/plain;charset=UTF-8"
      },
      body: dbName
    })
    .then(response => response.json())
    .then(data => {
      document.getElementById("example").innerHTML = arrayToList(data)
    })
  }
})
const search = document.getElementById('searchDatabases')
search.addEventListener('keyup', (event) => {
  event.preventDefault()
  fetch('/search-databases', {
    method: 'POST', 
    headers: {
      "Content-Type": "text/plain;charset=UTF-8"
    },
    body: search.value
  })
  .then(response => response.json())
  .then(data => {
    document.getElementById("example").innerHTML = arrayToList(data)
  })
})
</script>

<%- include('partials/footer') %>